---
http_interactions:
- request:
    method: get
    uri: http://xxxcnn0330.locaweb.com.br/tweeps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - diego.domingues16@gmail.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"statuses":[{"coordinates":null,"favorited":true,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"571967","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"locaweb","name":"Locaweb","id":42,"id_str":"42","indices":[0,8]}]},"in_reply_to_user_id_str":"42","contributors":null,"text":"@locaweb
        indexing the monitor won''t do anything, we need to index the wireless AGP
        array!","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":7,"in_reply_to_status_id_str":"774298","id":571967,"geo":null,"retweeted":true,"in_reply_to_user_id":42,"place":null,"user":{"profile_sidebar_fill_color":"DDEEF6","profile_sidebar_border_color":"C0DEED","profile_background_tile":false,"name":"Lucas
        Ms Leffler","profile_image_url":"http://a0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","created_at":"Mon
        Apr 26 06:01:55 +0000 2010","location":"LA, CA","follow_request_sent":null,"profile_link_color":"0084B4","is_translator":false,"id_str":"410513","entities":{"url":{"urls":[{"expanded_url":null,"url":"","indices":[0,0]}]},"description":{"urls":[]}},"default_profile":true,"contributors_enabled":false,"favourites_count":225,"url":null,"profile_image_url_https":"https://si0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","utc_offset":-28800,"id":410513,"profile_use_background_image":true,"listed_count":2,"profile_text_color":"333333","lang":"en","followers_count":140,"protected":false,"notifications":null,"profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme1/bg.png","profile_background_color":"C0DEED","verified":false,"geo_enabled":true,"time_zone":"Pacific
        Time (US & Canada)","description":"Born 330 Live 310","default_profile_image":false,"profile_background_image_url":"http://a0.twimg.com/images/themes/theme1/bg.png","statuses_count":579,"friends_count":140,"following":null,"show_all_inline_media":false,"screen_name":"lucas_ms_leffler"},"in_reply_to_screen_name":"locaweb","source":"web","in_reply_to_status_id":774298},{"coordinates":null,"favorited":true,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"316532","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"wolf_lourdes","name":"Wolf
        Lourdes","id":79705,"id_str":"79705","indices":[1,14]}]},"in_reply_to_user_id_str":"79705","contributors":null,"text":"@wolf_lourdes
        The PCI application is down, par","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":0,"in_rep[...]
