---
http_interactions:
- request:
    method: get
    uri: http://xxxcnn0330.locaweb.com.br/tweeps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - diego.domingues16@gmail.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"statuses":[{"coordinates":null,"favorited":false,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"786017","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"locaweb","name":"Locaweb","id":42,"id_str":"42","indices":[5,13]}]},"in_reply_to_user_id_str":"160137","contributors":null,"text":"conn
        @locaweb nsmitter won''t do anything, we need to quantify the 1080p PNG array!","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":0,"in_reply_to_status_id_str":"712167","id":786017,"geo":null,"retweeted":false,"in_reply_to_user_id":160137,"place":null,"user":{"profile_sidebar_fill_color":"DDEEF6","profile_sidebar_border_color":"C0DEED","profile_background_tile":false,"name":"Wilderman
        Constance Dr","profile_image_url":"http://a0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","created_at":"Mon
        Apr 26 06:01:55 +0000 2010","location":"LA, CA","follow_request_sent":null,"profile_link_color":"0084B4","is_translator":false,"id_str":"38794","entities":{"url":{"urls":[{"expanded_url":null,"url":"","indices":[0,0]}]},"description":{"urls":[]}},"default_profile":true,"contributors_enabled":false,"favourites_count":0,"url":null,"profile_image_url_https":"https://si0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","utc_offset":-28800,"id":38794,"profile_use_background_image":true,"listed_count":2,"profile_text_color":"333333","lang":"en","followers_count":205,"protected":false,"notifications":null,"profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme1/bg.png","profile_background_color":"C0DEED","verified":false,"geo_enabled":true,"time_zone":"Pacific
        Time (US & Canada)","description":"Born 330 Live 310","default_profile_image":false,"profile_background_image_url":"http://a0.twimg.com/images/themes/theme1/bg.png","statuses_count":579,"friends_count":205,"following":null,"show_all_inline_media":false,"screen_name":"wilderman_constance_dr"},"in_reply_to_screen_name":"kunze_elvis","source":"web","in_reply_to_status_id":712167},{"coordinates":null,"favorited":false,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"489626","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"bashirian_scotty","name":"Bashirian
        Scotty","id":41596,"id_str":"41596","indices":[1,18]}]},"in_reply_to_user_id_str":"41596","contributors":null,"text":"@bashirian_scotty
        Use the multi-byte EXE array, then you can navigate the auxiliary transmitt","metadata":{"iso_language_code[...]
