@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
 *= require_self
 */

.navigation-fixed {
  margin-bottom: 20px;
}

body > .container {
  margin-top: 40px;
}

.green{color:#5c913b;}

.golden{color: #ffac33;}

.red {color: red;}

.blue {
  color: dodgerblue;
}

.empty{color: #ccd6dd;}

.panel-body .row:not(:first-child) {
  border-color: #ddd;
  border-top: 1px ridge;
  padding-top: 20px;
}

.panel-body h3 {
  margin-top: 0;
}

.user .caption {
  border-bottom: 1px ridge;
}

.user .tweet {
  margin: 15px;
  border: 1px ridge;
}